#code
.vscode

#git
.gitea
.git
.gitignore
.gitlab-ci.yml
LICENSE
README.md

#Docker
.dockerignore
Dockerfile



# other
charts
dagger
dagger.json
cmd/ReadMe.md

docker-compose.yml
openapi.json
openapi.yml


Makefile
Tiltfile

